= simple_form_for([@restaurant, @restaurant.comments.build]) do |f|
	= f.input :content, label: false, placeholder: "留言...", as: :text, input_html: { class: 'form-control' }
	= f.button :submit, class: "button"