<!-- Button trigger modal -->
<button style='width:50%;font-size: 30px' type="button" class="btn btn-default fa fa-qrcode" data-toggle="modal" data-target="#qrcodeModal">
  QRcode
</button>

<!-- Modal -->
<div class="modal fade" id="qrcodeModal" tabindex="-1" role="dialog" aria-labelledby="qrcodeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="exampleModalLabel">分享</h3>        
      </div>
      <div class="modal-body">
        <%= image_tag("https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/17190606_10207280476365257_8784016032817684205_n.jpg?oh=8eabbe7b6f51d9eb054cab2105c7a564&oe=5972ABB7", width: '100%') %>
      </div>
    </div>
  </div>
</div>