<div type='button' style="background:white;cursor: pointer;" data-toggle="modal" data-target="#itemModal" data-name="<%= item.name %>" data-price='<%= item.price %>' data-image='<%= item.imageURL %>'><%= image_tag item.imageURL, width: '50px'%></div>

<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	      <h3 class="modal-title" id="itemModalLabel"></h3>                  
	    </div>
	    <div class="modal-body">
	      <img id="modal-image" width='100%'>
	    </div>
	      <h3 class="modal-footer" id="itemModalLabel"></h3> 
	  </div>
	</div>
</div>


<script>
$('#itemModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var name = button.data('name') // Extract info from data-* attributes
  var price = button.data('price') // Extract info from data-* attributes
  var imageURL = button.data('image') // Extract info from data-* attributes
  var modalImg = document.getElementById("modal-image");
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text(name)
  modal.find('.modal-footer').text(price+'元')
  modalImg.src = imageURL
})
</script>