/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  /*background: rgb(51, 51, 51);*/
  background: #FFBD9D;
}
/*.gradient-background { 
  height: 100%;
  background: -webkit-linear-gradient(40deg, #ffff88 10%, #ffffff 100%);
  background:    -moz-linear-gradient(40deg, #ffff88 10%, #ffffff 100%);
  background:     -ms-linear-gradient(40deg, #ffff88 10%, #ffffff 100%);
  background:      -o-linear-gradient(40deg, #ffff88 10%, #ffffff 100%);
  background:         linear-gradient(40deg, #ffff88 10%, #ffffff 100%);
  font-family: 'Lato', sans-serif;
}*/

footer {
  /*background: rgb(51, 51, 51);*/
}

#restaurants {
  margin: 0px auto;
  width: 100%;
  .box {
      padding: 0px 0px;
      margin: 2px;/*box之間的距離*/
      max-width: 170px;
      width: 50%;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      /*border-radius: 10px;*/
      /*border-top-left-radius: 30px;*/
      /*border-bottom-right-radius: 30px;*/
      text-align: center;
      text-decoration:none;
      img {
        padding: 0px 0px;
        margin: 0px;
        max-width: 100%;
        height: 140px;
        /*border-top-left-radius: 30px;*/
      }
      h2 {
        font-size: 22px;
        margin: 7px;
        padding: 0px 0px;
        a {
                color: #474747;
                text-decoration:none;
        }
      }
      .detail {
        font-size: 15px;
        border-top: 0px solid #EAEAEA;
        padding: 0px;
        margin: 3px;
        color: gray;
      }        
    }
}

textarea {
    min-height: 250px;
}

#show-box {
    margin: 0px;
    .box {
      margin: 0px;
      background: white;
      width: 100%;
      max-width: 500px;
      border-radius: 7px;  
    }
    h1{
      margin: 0px;
    }
    .detail {
      p{
      font-size: 20px;
      border-top: 0px solid #EAEAEA;
      padding: 0px;
      margin: 3px;
      color: gray;        
      }

    }     
}